.background-image(@image) {
	@filename:  ~`/(.*)\.(jpg|jpeg|png|gif)/.exec(@{image})[1]`;
	@extension: ~`/(.*)\.(jpg|jpeg|png|gif)/.exec(@{image})[2]`;
	background-image: ~`"url(@{filename}.@{extension})"`;

	@media (-webkit-min-device-pixel-ratio: 2) { 
		background-image: ~`"url(@{filename}_2x.@{extension})"`;
		background-size: 100%;
	}
}